#parse("/include/packages_variables.vm")
#parse("/include/init_var_entity.vm")
#parse("/include/java_header.vm")
#set( $serviceName = "${entity.name}Service" )
#set( $dtoSearchName = "${entity.name}SearchDto" )
#set( $uncapitalizedSearchDtoName = $fn.uncapitalize($dtoSearchName) )
#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )

package ${target.javaPackageFromFolder($SRC)};

import java.util.Locale;
import java.util.List;
import vn.com.unit.ep2p.entity.${entity.name}Import;
import vn.com.unit.jcanary.service.CommonImportExcelService;

public interface ${entity.name}ImportService extends CommonImportExcelService<${entity.name}Import>{
    /**
     * saveLstData
     *
     * @param lstAccountCodeImport
     * @author phatvt
     */
    void saveLstData(List<${entity.name}Import> lst${entity.name}Import);
    
    /**
     * 
     * @param lstT
     * @return
     * @throws Exception 
     */
    List<${entity.name}Import> validate(List<${entity.name}Import> lstT, Locale locale) throws Exception;

}

